[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.*"
django-html = "==0.1.0"
django-phonenumber-field = "==7.3.0"
psycopg2-binary = "==2.9.9"
phonenumbers = "==8.12.53"
whitenoise = "==6.6.0"
requests = "==2.27.1"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
